<p id="notice"><%= notice %></p>

<p>
  <strong>Publisher name:</strong>
  <%= @publisher.publisher_name %>
</p>

<%= link_to 'Edit', edit_publisher_path(@publisher) %> |
<%= link_to 'Back', publishers_path %>
